<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID </key>
	<string>664606879930-a43q4ejjb2n7p8lur3e0rc0hecrtimnu.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>664606879930-a43q4ejjb2n7p8lur3e0rc0hecrtimnu.apps.googleusercontent.com</string>
				<string>com.googleusercontent.apps.664606879930-a43q4ejjb2n7p8lur3e0rc0hecrtimnu</string>
				<string>fb1180376585937980</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1180376585937980</string>
	<key>FacebookClientToken</key>
	<string>393991e20e45488d0987835f6d86d87b</string>
	<key>FacebookDisplayName</key>
	<string>My Messenger</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
    <key>GIDClientID</key>
    <string>664606879930-a43q4ejjb2n7p8lur3e0rc0hecrtimnu.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.googleusercontent.apps.664606879930-a43q4ejjb2n7p8lur3e0rc0hecrtimnu</string>
        </array>
      </dict>
    </array>
</dict>
</plist>
